<div class="container">
    <div class="jumbotron pb-4 text-center">
        <h1 class="display-4">Welcome to <span class="font-weight-bold">Movie library</span></h1>
        <p class="lead">This is a simple web application to display movies.</p>
        <hr class="my-4" />
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <p>Click the button below to retrieve the list of movies</p>
                <a class="btn btn-block btn-outline-primary btn-sm" routerLink="/movies">
                    Show movies
                    <i class="mdi mdi-library-movie mdi-format-align-right"></i>
                </a>
                <hr class="pb-2 d-sm-none" />
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>Click the button below to go to the source code page</p>
                <a class="btn btn-block btn-outline-dark btn-sm" href="https://github.com/radouanefadel/movie-library-assignment" target="_blank">
                    Go to GitHub repo
                    <i class="mdi mdi-github-circle mdi-format-align-right"></i>
                </a>
            </div>
        </div> 
    </div>
</div>